<section class="section">
  <div class="container">
    <div class="gallery-bnt-wrapper">
      <h2 class="visually-hidden">Gallery</h2>
      <div class="categories" id="categories">
        <input
          class="categories__input visually-hidden"
          type="radio"
          id="cat-all"
          name="category"
          value="all"
          checked
        />
        <label
          class="categories__label"
          for="cat-all"
          data-lang="categoryAllBtn"
          >All</label
        >

        <input
          class="categories__input visually-hidden"
          type="radio"
          id="cat-movie"
          name="category"
          value="movie"
        />
        <label
          class="categories__label"
          for="cat-movie"
          data-lang="categoryMoviesBtn"
          >Movies</label
        >

        <input
          class="categories__input visually-hidden"
          type="radio"
          id="cat-tv"
          name="category"
          value="tv"
        />
        <label class="categories__label" for="cat-tv" data-lang="categoryTvBtn"
          >TV shows</label
        >
      </div>

      <div class="categories is-closed" id="type">
        <input
          class="categories__input visually-hidden"
          type="radio"
          id="type-movie"
          name="type"
          value="movie"
          checked
        />
        <label
          class="categories__label"
          for="type-movie"
          data-lang="categoryMoviesBtn"
          >Movies</label
        >

        <input
          class="categories__input visually-hidden"
          type="radio"
          id="type-tv"
          name="type"
          value="tv"
        />
        <label class="categories__label" for="type-tv" data-lang="categoryTvBtn"
          >TV shows</label
        >
      </div>

      <div class="genres" id="genres">
        <input
          class="genres__input visually-hidden"
          type="radio"
          id="Comedy"
          name="genres"
          value="35"
        />
        <label class="genres__label" for="Comedy">Comedy</label>

        <input
          class="genres__input visually-hidden"
          type="radio"
          id="Drama"
          name="genres"
          value="18"
        />
        <label class="genres__label" for="Drama">Drama</label>

        <input
          class="genres__input visually-hidden"
          type="radio"
          id="Crime"
          name="genres"
          value="80"
        />
        <label class="genres__label" for="Crime">Crime</label>

        <input
          class="genres__input visually-hidden"
          type="radio"
          id="Animation"
          name="genres"
          value="16"
        />
        <label class="genres__label" for="Animation">Animation</label>

        <input
          class="genres__input visually-hidden"
          type="radio"
          id="Family"
          name="genres"
          value="10751"
        />
        <label class="genres__label" for="Family">Family</label>

        <input
          class="genres__input visually-hidden"
          type="radio"
          id="Western"
          name="genres"
          value="37"
        />
        <label class="genres__label" for="Western">Western</label>

        <input
          class="genres__input visually-hidden"
          type="radio"
          id="Mystery"
          name="genres"
          value="9648"
        />
        <label class="genres__label" for="Mystery">Mystery</label>

        <input
          class="genres__input visually-hidden"
          type="radio"
          id="Documentary"
          name="genres"
          value="99"
        />
        <label class="genres__label" for="Documentary">Documentary</label>
      </div>
    </div>

    <ul class="gallery">
      <li class="gallery__item">
        <div class="card">
          <div class="card__thumb skeleton skeleton_image"></div>
          <p class="card__title skeleton skeleton_text"></p>
          <p class="card__text skeleton skeleton_text"></p>
        </div>
      </li>
      <li class="gallery__item">
        <div class="card">
          <div class="card__thumb skeleton skeleton_image"></div>
          <p class="card__title skeleton skeleton_text"></p>
          <p class="card__text skeleton skeleton_text"></p>
        </div>
      </li>
      <li class="gallery__item">
        <div class="card">
          <div class="card__thumb skeleton skeleton_image"></div>
          <p class="card__title skeleton skeleton_text"></p>
          <p class="card__text skeleton skeleton_text"></p>
        </div>
      </li>
      <li class="gallery__item">
        <div class="card">
          <div class="card__thumb skeleton skeleton_image"></div>
          <p class="card__title skeleton skeleton_text"></p>
          <p class="card__text skeleton skeleton_text"></p>
        </div>
      </li>
      <li class="gallery__item">
        <div class="card">
          <div class="card__thumb skeleton skeleton_image"></div>
          <p class="card__title skeleton skeleton_text"></p>
          <p class="card__text skeleton skeleton_text"></p>
        </div>
      </li>
      <li class="gallery__item">
        <div class="card">
          <div class="card__thumb skeleton skeleton_image"></div>
          <p class="card__title skeleton skeleton_text"></p>
          <p class="card__text skeleton skeleton_text"></p>
        </div>
      </li>
    </ul>
  </div>
</section>
