body.dark-theme {
  background-color: #262626;
  color: $white-color;
  .header {
    box-shadow: $dark-theme-shadow;
  }
  .footer {
    background-color: #262626;
    color: $white-color;
    box-shadow: $dark-theme-shadow;
    &__text {
      color: inherit;
    }
  }
  .card__title {
    color: inherit;
  }
  .tui-page-btn {
    color: inherit;
    &:hover {
      background-color: $accent-color;
    }
  }
  .modal {
    background-color: #262626;
    box-shadow: $dark-theme-shadow;
  }
  .close-modal-button__icon {
    fill: $white-color;
  }
  .details-popup__title {
    color: inherit;
  }
  .ranks-table__cell {
    color: inherit;
  }

  .details-popup__subtitle {
    color: inherit;
  }
  .details-popup__description {
    color: inherit;
  }
  .button-library {
    border-color: $white-color;
    color: inherit;
  }
  .gallery__message_title {
    color: inherit;
  }
  .change-theme {
    &__btn {
      display: none;
    }
    &__btn-dark {
      display: block;
      position: absolute;
      right: 65px;
      bottom: 5px;

      background-color: initial;
      align-content: center;
      border: none;
      text-align: center;
      border-radius: 5px;
      padding: 8px 12px;

      @include breakpoint(tablet) {
        right: 100px;
        top: auto;
      }
    }
  }
  .authors__title {
    color: inherit;
  }
}
